<div class="container-fluid bg-white">
  <div class="row p-2 pt-5">
    <div class="col-8 h2">
      Users
    </div>
    <div class="col-4">
      <app-input
        [formControl]="searchString"
        [label]="'Search...'"></app-input>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table bg-white table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col" style="width: 21rem">Actions</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="users$ | async as users">
          <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>
              <app-button class="p-1">Edit</app-button>
              <app-button class="p-1" [label]="'Delete'"></app-button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
