.ana-ripple-container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}

.ana-ripple {
  position: absolute;
  border-radius: 100%;
  transform: scale(0);
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
  pointer-events: none;

  &.active {
    animation:ripple 500ms linear;
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    border-radius: 0;
    transform: scale(2.5);
  }
}
