<div class="row no-gutters d-flex align-self-center flex-grow-1 justify-content-center">
  <div class="col-xl-4 col-md-9 col-sm-12">
    <div class="container-fluid p-0 shadow bg-white">
      <app-nav>
        <app-nav-item [label]="'Sign In'">
          <form class="p-4" [formGroup]="signInForm">
            <div class="form-group">
              <app-input
                [formControl]="signInForm.get('email')"
                [type]="'email'"
                [label]="'Enter email'"></app-input>
            </div>
            <div class="form-group">
              <app-input
                [formControl]="signInForm.get('password')"
                [type]="'password'"
                [label]="'Enter password'"></app-input>
            </div>
            <div class="form-group">
              <a href="#"
                 (click)="onForgotPasswordClick($event)" class="text-primary"><small>Forgot Password?</small></a>
            </div>

            <app-button [label]="'Sign In'" (click)="onSubmit()"></app-button>
          </form>
        </app-nav-item>
        <app-nav-item [label]="'Sign Up'">
          Sign Up
        </app-nav-item>
      </app-nav>
    </div>
  </div>
</div>
