<div class="modal-backdrop show"></div>
<div class="modal" tabindex="-1" style="display: block">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
