<div class="container-fluid bg-white">
  <div class="row p-2 pt-5">
    <div class="col-12 h2">
      User
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form class="p-4" [formGroup]="userFormService.form">
        <div class="form-group">
          <app-input
            [formControl]="userFormService.form.get('firstName')"
            [type]="'text'"
            [label]="'First Name'"></app-input>
        </div>
        <div class="form-group">
          <app-input
            [formControl]="userFormService.form.get('lastName')"
            [type]="'text'"
            [label]="'Last Name'"></app-input>
        </div>
        <div class="form-group">
          <app-input
            [formControl]="userFormService.form.get('age')"
            [type]="'number'"
            [label]="'Age'"></app-input>
        </div>
        <div class="form-group">
          <app-input
            [formControl]="userFormService.form.get('email')"
            [type]="'text'"
            [label]="'Email'"></app-input>
        </div>
        <div class="form-group">
          <app-input
            [formControl]="userFormService.form.get('confirmEmail')"
            [type]="'text'"
            [label]="'Confirm Email'"></app-input>
        </div>
        <div class="form-group">
          <app-input
            [formControl]="userFormService.form.get('password')"
            [type]="'password'"
            [label]="'Password'"></app-input>
        </div>
        <div class="form-group">
          <app-input
            [formControl]="userFormService.form.get('confirmPassword')"
            [type]="'password'"
            [label]="'Confirm Password'"></app-input>
        </div>


        <app-button [label]="'Save'" (click)="onSubmit()"></app-button>
      </form>
    </div>
  </div>
</div>
