@import "../../../scss/bootstrap.scss";

:host {
  display: block;
  position: relative;
}

input {
  &:focus {
    border-color: $input-border-color;

    & ~ .input-border {
      left: 0;
      right: 0;
    }

    & ~ label {
      font-size: $font-size-base * 0.8;
      padding-top: 0;
      bottom: 70%;
      color: $input-focus-border-color;
    }
  }
}

.input-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: $input-border-width + 1;
  background-color: $input-focus-border-color;
  transition: all 300ms cubic-bezier(.55,0,.55,.2);
}

label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: $input-padding-y $input-padding-x;
  pointer-events: none;
  transition: all 250ms ease;
}
