<div class="container-fluid m-0 w-100 h-100">
  <div class="row h-100">
    <div class="col-3 bg-white p-0">
      <!--<ul class="nav nav-pills flex-column">-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link active" href="#">Users</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link active" href="#">Users</a>-->
        <!--</li>-->
      <!--</ul>-->
      <app-nav [className]="'flex-column'">
        <app-nav-item [label]="'Users'" [textUppercase]="true"></app-nav-item>
        <app-nav-item [label]="'Test'"></app-nav-item>
      </app-nav>
    </div>
    <div class="col-9" style="background-color: rgba(255, 255, 255, 0.75)">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


