<div class="container-fluid bg-gradient-primary h-100 d-flex no-gutters">
    <div class="background-image h-100 w-100"></div>
    <div class="row no-gutters d-flex align-self-center flex-grow-1 justify-content-center">
        <div class="col-xl-4 col-md-9 col-sm-12">
            <div class="container-fluid p-0 shadow bg-white">
                <ul class="nav nav-pills w-100 d-flex bg-light">
                    <li class="nav-item flex-grow-1 text-center">
                        <a class="nav-link active text-uppercase" href="#">sign in</a>
                    </li>
                    <li class="nav-item flex-grow-1 text-center">
                        <a class="nav-link text-uppercase" href="#">sign up</a>
                    </li>
                </ul>
                <form class="p-4">
                    <div class="form-group">
                        <input autocomplete="off" type="email" class="form-control border-top-0 border-left-0 border-right-0">
                        <div class="input-border"></div>
                        <label class="d-flex align-items-end">Enter email</label>
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" type="password" class="form-control border-top-0 border-left-0 border-right-0">
                        <div class="input-border"></div>
                        <label class="d-flex align-items-end">Password</label>
                    </div>
                    <div class="form-group">
                        <a href="#" class="text-primary"><small>Forgot Password?</small></a>
                    </div>
                    <button type="submit" class="btn btn-primary text-uppercase px-5">sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
