<input
  [(ngModel)]="value"
  (ngModelChange)="changeFn($event)"
  autocomplete="off"
  [type]="type"
  [class.active]="value"
  [class.is-invalid]="isInvalid()"
  (focus)="touchedFn()"
  class="form-control border-top-0 border-left-0 border-right-0">
<div class="input-border"></div>
<label class="d-flex align-items-end" *ngIf="label">{{label}}</label>
<div class="invalid-feedback"
     *ngFor="let errorKey of getErrorKeys()">
  {{ngControl.errors[errorKey] | json}}
</div>
