<button type="submit"
        class="btn btn-primary text-uppercase px-5"
        appRipple>
  <ng-container *ngIf="label; else ngContent">
    {{label}}
  </ng-container>
  <ng-template #ngContent>
    <ng-content></ng-content>
  </ng-template>
</button>
