<ul class="nav nav-pills w-100 d-flex bg-light" [ngClass]="className">

  <li class="nav-item flex-grow-1 text-center"
      *ngFor="let navItem of navItems; let i = index">
    <a class="nav-link"
       href="#"
       (click)="onTabClick($event, i)"
       [class.text-uppercase]="navItem.textUppercase"
       [class.active]="i === activeTabIndex">
      <ng-container *ngIf="navItem.labelTemplateRef; else simpleLabel">
        <ng-template
          [ngTemplateOutlet]="navItem.labelTemplateRef"></ng-template>
      </ng-container>
      <ng-template #simpleLabel>
        {{navItem.label}}
      </ng-template>
    </a>
  </li>
</ul>
<ng-container *ngFor="let navItem of navItems; let i = index">
  <ng-template
    *ngIf="i === activeTabIndex"
    [ngTemplateOutlet]="navItem.templateRef"></ng-template>
</ng-container>
