<div class="modal-header">
  <div class="modal-title">
    Forgot password?
  </div>
</div>

<div class="modal-body"></div>

<div class="modal-footer">
  <button class="btn btn-primary">Send Email</button>
  <button class="btn btn-secondary">Close</button>
</div>
