<ng-content></ng-content>
<div class="ana-ripple-container">
  <div class="ana-ripple"
       [@ripple]="rippleState"
       (@ripple.done)="onRippleAnimationDone($event)"
       [style.width]="scaleSize + 'px'"
       [style.height]="scaleSize + 'px'"
       [style.left]="offsetLeft"
       [style.top]="offsetTop"
  ></div>
</div>
